/* Responsive */
@media only screen and (max-width: 1200px) {
  
  #logo a {
    margin: 0;
  }

  .cart-tab {
    width: 40px;
    height: 33px;
    padding: 0 0 4px 0;
    background-position: center 1px;
  }

  .header,
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  #cookies_policy p {
    padding: 0;
  }
  .slider-wrapper .pagination {
    display: none;
  }

  .top-bar {
    padding: 0;
    /*display: none;*/
  }

  .navigation-wrapper {
    display: none;
  }

  .navigation-wrapper {
    border-top: none;
  }

  #logo {
    width: 300px;
    text-align: left;
    float: left;
  }

  #logo:after {
    clear: both;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-search-form {
    display: block;
  }

  .mobile-search-form-hide,
  .logo-hide,
  .li-mobile-nav-hide,
  .li-mobile-cart-hide {
    display: none !important;
  }

  .link-blocks .link-block-2 .link-text,
  .link-blocks .link-block-3 .link-text {
    font-size: 17px;
  }

  .newsletter-text {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 17px;
  }

  .newsletter-form {
    float: none;
    width: 355px;
    margin: 0 auto;
  }

  #footer .twitter-feed li .tweet-wrapper {
    width: 85%;
  }

  .footer-message {
    margin: 30px 0 0 0;
  }

  .link-blocks .link-block-3 {
    width: 48.2%;
    margin: 0 3% 30px 0;
  }

  .link-blocks li:nth-child(3n) .link-block-3 {
    margin: 0 3% 30px 0;
  }

  .link-blocks li:nth-child(2n) .link-block-3 {
    margin: 0 0 30px 0;
  }

  #page-header h1 {
    float: none;
    /*margin: 40px 0 10px 0;*/
    width: 100%;
    text-align: center;
  }

  #page-header p {
    float: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }

}

@media only screen and (max-width: 1020px) {

  .main-content ul {
    margin: 0;
  }
  .main-content {
    width: 100%;
    margin: 0;
  }
  
  .title-style3 {
    margin: 0 0 16px !important;
  }
  .lightbox-content {
    width: calc(100% - 60px);
  }

  #my-account .main-content .row {
    /*margin: 0;*/
  }
  
  .sidebar-content .widget {
    width: 49%;
    float: left;
    margin-right: 1%;
  }
  
  .sidebar-content {
    width: 100%;
    float: none;
    padding: 0;
  }

  .account-image {
    display: none;
  }

  .cart-coupon input[type="text"] {
    display: block;
    margin: 0 0 10px 0;
    width: calc(100% - 40px) !important;
  }

  .coupon-code-button {
    display: block;
    width: 100%;
  }

  .proceed-checkout-button {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }

  .update-cart-button {
    display: block;
    width: 100%;
  }

  .cart-coupon,
  .cart-buttons {
    width: 40%;
  }

  .view-order-button {
    margin: 5px 0 0 0;
    display: table;
    padding: 10px 20px;
  }

  .comment-image {
    display: none;
  }

  .comment-right {
    width: 100%;
  }

/*  .main-content input[type="text"], 
  .main-content input[type="email"], 
  .main-content input[type="url"], 
  .main-content input[type="number"], 
  .main-content input[type="tel"], 
  .main-content input[type="date"], 
  .main-content input[type="file"], 
  .main-content input[type="password"] {
    width: calc(100% - 18px);
  }*/

}

@media only screen and (max-width: 830px) {
  
  #choose_language img {
    top: 0px;
  }
  #choose_language #languages {
    min-width: 32px;
  }
  .link-blocks .link-block-2 {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .link-blocks .link-block-2 .link-text {
    font-size: 20px;
    padding: 33px 0 0 30px;
  }

  .vertical-products .product-image {
    margin: 0 2% 0 0;
  }

  #footer .twitter-feed li .tweet-wrapper {
    float: left;
  }

  #footer .twitter-feed li .fa-twitter {
    width: 4%;
  }

  .mobile-search-form input[type="text"] {
    width: calc(100% - 20px);
    height: 42px;
  }

  .product-title, 
  .product-price,
  .product-attributes {
    font-size: 16px;
  }

  .link-blocks .link-block-2 .link-text {
    font-size: 18px;
  }

  .title-style1 {
    font-size: 20px;
  }

  .one-third {
    width: 100%;
  }

  .products-4 {
    margin: 0 0 20px 0;
  }

  #footer .one-fourth {
    width: 100%;
    margin: 0 0 40px 0;
    float: none;
  }

  #footer .twitter-feed li .tweet-wrapper {
    width: 94%;
  }

  .newsletter-text {
    width: 100%;
    line-height: 160%;
  }

  .instagram-feed li:nth-child(3n),
  .instagram-feed li {
    margin: 0 2% 2% 0;
    width: 15%;
  }

  .instagram-feed li:last-child {
    margin: 0 0 2% 0;
  }

  .instagram-feed {
    margin: 0;
  }

  .twitter-feed li:last-child {
    margin: 0 !important;
  }

  .large-quote-wrapper blockquote {
    width: 75%;
  }

  .newsletter-form {
    width: 405px;
  }

  .newsletter-form input[type="text"] {
    width: 270px;
  }

  .footer-message p {
    float: none;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .social-links-footer {
    float: none;
    width: 215px;
    margin: 0 auto;
  }

  .slider .flex-direction-nav .flex-prev {
    left: 0px;
  }

  .slider .flex-direction-nav .flex-next {
    right: 0px;
  }

  .products-6 li:nth-child(6n+1),
  .products-5 li:nth-child(5n+1),
  .products-4 li:nth-child(4n+1),
  .products-3 li:nth-child(3n+1),
  .products-2 li:nth-child(2n+1) {
    clear: none;
  }

  .products-4 li:nth-child(4n),
  .products-5 li:nth-child(5n) {
    margin: 0 3% 0 0;
  }

  .products-4 li:nth-child(3n+1),
  .products-5 li:nth-child(4n+1) {
    margin: 0 3% 0 0;
  }

  .products-4 li:nth-child(3n),
  .products-5 li:nth-child(3n),
  .products-6 li:nth-child(3n) {
    margin-right: 0;
  }

  .products-4 li,
  .products-5 li,
  .products-6 li {
    width: 31.1%;
    margin: 0 3% 0 0;
    margin-bottom: 30px;
  }

  .homepage-template .products-4 li {
    width: 48.5%;
    margin: 0 6% 40px 0;
    margin-bottom: 30px;
  }

  .homepage-template .products-4 li:nth-child(2n) {
    margin: 0;
  }

  .homepage-template .products-4 li:nth-child(2n+1) {
    clear: both;
  } 

  .homepage-template .products-4 li:nth-child(2n+1) {
    margin: 0 3% 40px 0;
  }

  .homepage-template .products-4 li:nth-child(3n+1) {
    clear: none;
  }

  .products-4 li:nth-child(4n) {
    margin: 0 3% 40px 0;
  }

  .products-4 li:nth-child(3n+1) {
    margin: 0 3% 40px 0;
  }

  .products-4 li:nth-child(3n) {
    margin-right: 3%;
  }

  .products-4 li:nth-child(3n+1) {
    clear: both;
  }

  .products-4 li:nth-child(3n) {
    margin-right: 0;
  }

  .order-item {
    float: none;
  }

  .order-item {
    line-height: 140%;
  }

  .cart-image {
    display: none;
  }

}

@media only screen and (max-width: 740px) {

  #logo a {
    width: 205px;
    display: block;
    margin: 0 auto;
  }

  .product-image-single,
  .product-description-single {
    width: 100%;
    margin: 0 0 50px 0;
  }

  .product-image-single {
    margin: 0 0 20px 0;
  }

/*  #tabs .nav li {
    width: 100%;
  }

  #tabs .nav li a {
    width: calc(50% - 42px);
    border-left: #e8e8e8 1px solid;
    border-right: #e8e8e8 1px solid;
  }*/

  #tabs .nav li.ui-state-active {
    border-bottom: #e8e8e8 1px solid !important;
  }

  .social-links-footer {
    width: 210px;
    margin: 0 auto 10px;
    float: none;
    text-align: center
  }

  .social-links-footer li {
    float: none;
    display: inline;
  }

}


@media only screen and (max-width: 640px) {

  .mobile-search-form input[type="text"] {
    width: calc(100% - 82px);
    height: 42px;
  }

  .logo-hide,
  .li-mobile-nav-hide,
  .li-mobile-cart-hide {
    display: block;
  }

  .mobile-search-form .mobile-nav {
    display: block;
    float: right;
    width: 42px;
    margin: 0 !important;
  }

  .header {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
  }

  .mobile-search-form {
    position: absolute;
    top: 83px;
    width: 100%;
  }

  .products-5 li:nth-child(5n) {
    margin: 0 6% 40px 0;
  }

  .products-5 li:nth-child(3n) {
    margin: 0 6% 40px 0;
  }

  .products-5 li:nth-child(2n) {
    margin-right: 0;
  }

  .products-5 li:nth-child(4n+1) {
    margin: 0 6% 40px 0;
  }

  .products-4 li:nth-child(4n) {
    margin: 0 6% 40px 0;
  }

  .products-4 li:nth-child(3n+1) {
    margin: 0 6% 40px 0;
  }

  .products-4 li:nth-child(3n) {
    margin-right: 6%;
  }

  .products-6 li:nth-child(3n),
  .products-3 li:nth-child(3n) {
    margin: 0 6% 40px 0;
  }

  .homepage-template .products-4 li {
    width: 47%;
  }

  .homepage-template .products-4 li:nth-child(2n+1) {
    margin: 0 6% 40px 0;
  }

  .products-4 li:nth-child(2n+1),
  .products-3 li:nth-child(2n+1) {
    clear: both;
  }

  .products-6 li:nth-child(2n),
  .products-4 li:nth-child(2n),
  .products-3 li:nth-child(2n) {
    margin-right: 0;
  }

  .products-6 li,
  .products-5 li,
  .products-4 li,
  .products-3 li,
  .products-2 li {
    width: 47%;
    margin: 0 6% 40px 0;
    margin-bottom: 30px;
  }

  .products-4 li:nth-child(3n+1) {
    clear: none;
  }

  #footer .twitter-feed li .fa-twitter {
    width: 5%;
  }

  #logo {
    float: none;
    text-align: center;
    margin: 10px auto;
  }

  .mobile-nav {
    float: none;
    width: 44px;
    margin: 0 auto 30px auto;
  }

  .link-blocks .link-block-3 {
    width: 100%;
  }

  .account-address {
    display: none;
  }

  .one-half {
    width: 100%;
    float: none;
  }

  .your-order-wrapper {
    width: calc(100% - 56px) !important;
    margin: 20px 0 0 0 !important;
  }

  .cart-coupon,
  .cart-buttons {
    width: 100%;
  }

  .coupon-code-button {
    margin: 0 0 10px 0;
  }

  .cart-totals {
    width: calc(100% - 60px);
  }

}

@media only screen and (max-width: 540px) {

  #page-search-form input[type="text"] {
    float: none;
    width: calc(100% - 20px);
    margin: 0 !important;
  }

  #page-search-form input[type="submit"] {
    float: none;
    width: calc(100%);
  }

  #page-search-form {
    width: 90%;
  }
  
  #page-header h1 {
    margin-top: -28px;
  }

  #logo {
    width: 245px;
  }
  
  div.quantity .plus, div.quantity .minus {
    width: 18px;
    height: 16px;
    display: inline-block;
    font-size: 14px !important;
    position: absolute;
    z-index: 90;
    background: #e8e8e8;
    right: 3px;
  }
  
  div.quantity .plus {
    top: 4px;
  }
  
  div.quantity .minus {
    bottom: 2px;
  }
  
  div.quantity .fa {
    top: -2px;
    left: 5px;
  }
  
  div.quantity .minus .fa {
    top: 1px;
  }
  
  .product-title, 
  .product-price,
  .product-attributes,
  .vertical-products h4 {
    font-size: 15px;
  }

  .link-blocks .link-block-2 .link-text {
    font-size: 15px;
    padding: 25px 0 0 10px;
  }

  .link-blocks .link-block-2 .link-arrow {
    padding: 20px 12px;
  }

  .title-style1 {
    font-size: 20px;
  }

  .products-4 {
    margin: 0;
  }

  .newsletter-form input[type="text"] {
    width: 229px;
    float: none;
  }

  .newsletter-form input[type="submit"] {
    width: 242px;
    float: none;
    font-size: 15px;
  }

  .newsletter-form {
    width: 245px;
  }

  .newsletter-text {
    font-size: 15px;
  }

  .large-quote-wrapper blockquote {
    font-size: 16px;
  }

  .large-quote-wrapper .quoteauthor {
    font-size: 14px;
  }

  .title-style2 {
    font-size: 16px;
  }

  .footer-message p {
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 0 15px 0;
  }

  .social-links li {
    margin: 0 10px 0 0;
  }
  
  .social-links li:last-child {
    margin: 0;
  }

  #footer .twitter-feed li .tweet-wrapper {
    width: 91%;
  }

  .mobile-menu li {
    width: 260px;
  }

  .mobile-menu-wrapper {
    width: 260px;
    left: -260px;
  }

  .cart-side-wrapper {
    width: 260px;
    right: -260px;
  }

  .cart-expanded {
    left: -260px;
  }

  .menu-expanded .site-wrapper {
    left: 260px;
  }

  .cart-expanded .site-wrapper {
    left: -260px;
  }

  #footer .twitter-feed li .fa-twitter {
    width: 7%;
  }

  .cart-side-inner-wrapper, .cart-side-product-wrapper {
    width: 200px;
  }

  .cart-side-wrapper .product-name {
    width: 88px;
  }

  .cart-side-wrapper .product-image {
    margin: 0 15px 0 0;
  }

  .cart-side-wrapper .product-name h4 {
    font-size: 14px;
  }

  .table-style2 .plusminus {
    display: none;
  }

  .table-style2 .qty-small .qty-text {
    border-left: #e8e8e8 1px solid;
    border-right: #e8e8e8 1px solid;
  }

  .main-content .table-style2 td.cart-title, 
  .main-content .table-style2 td.cart-price, 
  .main-content .table-style2 td.cart-quantity {
    padding: 35px 5px;
  }

  .main-content .table-style2 td.cart-delete {
    padding: 35px 5px 35px 15px;
  }

  .main-content .table-style2 td.cart-total {
    padding: 35px 15px 35px 5px;
  }

  .main-content .table-style2 th {
    padding: 14px 5px;
  }

  .main-content .table-style2 .qty-small {
    width: 30px;
  }

  .main-content .table-style2 .qty-small .qty-text {
    left: 0;
  }

  .main-content .table-style2 th,
  .main-content .table-style2 td {
    font-size: 14px;
  }

}

@media only screen and (max-width: 380px) {

  #logo {
    width: 245px;
  }

  #logo-wrapper {
    padding: 0;
  }

  .link-blocks .link-block-2 .link-text {
    font-size: 12px;
  }

  .newsletter-form input[type="text"] {
    width: calc(100% - 16px);
    float: none;
  }

  .newsletter-form {
    width: 245px;
  }

  .newsletter-text {
    font-size: 15px;
    float: none;
  }

  .large-quote-wrapper blockquote .quoteopen {
    left: -35px;
  }

}